# Files and Folders in Packages/User that does not need syncing via git
# See also https://packagecontrol.io/docs/syncing
User/Package Control.last-run
User/Package Control.ca-list
User/Package Control.ca-bundle
User/Package Control.merged-ca-bundle
User/Package Control.system-ca-bundle
User/Package Control.user-ca-bundle
User/Package Control.cache/
User/Package Control.ca-certs/

User/bh_unicode_properties.cache
